CREATE TABLE audit_logs (id SERIAL PRIMARY KEY, user_id VARCHAR(255), action VARCHAR(255), resource_type VARCHAR(100), resource_id VARCHAR(255), details JSONB, ip_address INET, user_agent TEXT, timestamp TIMESTAMP DEFAULT NOW());
